<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class=" col-md-12 " align="right" style=" z-index: +3; ">
        <button type="button" id="taskModalId" class="btn btn-primary taskModal.show" data-toggle="modal" (click)="taskModal.show();"> Add Task</button>
        <button type="button" id="projectModalId" class="btn btn-primary projectModal.show" data-toggle="modal" style="display: none;" (click)="projectModal.show();"> Add Project</button>
    </div>
   
    <div class="col-md-12 md-4">
      <tabset (click)="test('PROJECT')">
        <tab class="TASK">
          <ng-template tabHeading><i class="icon-menu"></i> Task</ng-template>
        </tab>
        <tab class="PROJECT">
          <ng-template tabHeading><i class="icon-notebook"></i>Project</ng-template>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<div bsModal #taskModal="bs-modal" id="taskModal"  class="modal right fade container-fluid" tabindex="-1"  role="dialog">
  <div class="modal-dialog modal-lg" role="document" style="width:40%">
    <div class="modal-content">
      <div class="modal-header"><h1>Add Task</h1></div>
      <div class="modal-body" style="background-color: #e8e8e8">
          <form class="cf" method="post" class="taskForm" #taskForm="ngForm" enctype="multipart/form-data">
            <h6 issec="true" class="MT0">Task Configuration Details</h6>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>Task ID :</label></div>
              <div class="col-md-6"><input name="taskId" #taskId="ngModel" [(ngModel)]="timeService.task.taskId"></div>
            </div>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>Task Name :</label></div>
              <div class="col-md-6"><input name="taskName" #taskName="ngModel" [(ngModel)]="timeService.task.taskName"></div>
            </div>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>Project :</label></div>
              <div class="col-md-6">
                <select name="project.projectId" #projectId="ngModel" [(ngModel)]="timeService.task.project.projectId">
                  <option value="">select</option>
                  <option value="LIFE">Life Insurance</option>
                </select>
              </div>
            </div>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>Start Date :</label></div>
              <div class="col-md-6"><input name="startDate" #startDate="ngModel" [(ngModel)]="timeService.task.startDate"></div>
            </div>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>End Date :</label></div>
              <div class="col-md-6"><input name="endDate" #endDate="ngModel" [(ngModel)]="timeService.task.endDate"></div>
            </div>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>Description :</label></div>
              <div class="col-md-6"><textarea name="description" #description="ngModel" [(ngModel)]="timeService.task.description" cols="30" rows="3"></textarea></div>
            </div>
            <div class="row">
              
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <button type="reset" class="btn btn-primary cf" (click)="resetForm();">Reset</button>
          <button type="submit" class="btn btn-primary cf">Submit</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #projectModal="bs-modal" id="projectModal"  class="modal right fade container-fluid" tabindex="-1"  role="dialog">
  <div class="modal-dialog modal-lg" role="document" style="width:40%">
    <div class="modal-content">
      <div class="modal-header"><h1>Add Project</h1></div>
      <div class="modal-body" style="background-color: #e8e8e8">
          <form class="cf" method="post" class="projectForm" #projectForm="ngForm" enctype="multipart/form-data">
            <h6 issec="true" class="MT0">Project Configuration Details</h6>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>Project ID :</label></div>
              <div class="col-md-6"><input name="projectId" #projectId="ngModel" [(ngModel)]="timeService.project.projectId"></div>
            </div>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>Project Name :</label></div>
              <div class="col-md-6"><input name="projectName" #projectName="ngModel" [(ngModel)]="timeService.project.projectName"></div>
            </div>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>Manager:</label></div>
              <div class="col-md-6">
                <select name="manager.id" #empId="ngModel" [(ngModel)]="timeService.project.manager.id">
                  <option value="">select</option>
                  <option value="LIFE">Life Insurance</option>
                </select>
              </div>
            </div>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>Start Date :</label></div>
              <div class="col-md-6"><input name="startDate" #startDate="ngModel" [(ngModel)]="timeService.project.startDate"></div>
            </div>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>End Date :</label></div>
              <div class="col-md-6"><input name="endDate" #endDate="ngModel" [(ngModel)]="timeService.project.endDate"></div>
            </div>
            <div class="cf row">
              <div class="col-md-3 textCf"><label>Description :</label></div>
              <div class="col-md-6"><textarea name="description" #description="ngModel" [(ngModel)]="timeService.project.description" cols="30" rows="3"></textarea></div>
            </div>
            <div class="row">
              
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <button type="reset" class="btn btn-primary cf" (click)="resetForm();">Reset</button>
          <button type="submit" class="btn btn-primary cf">Submit</button>
      </div>
    </div>
  </div>
</div>